@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&display=swap');

.main-board-container {
    display: grid;
    justify-items: stretch;

    padding: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    
    font-family: 'Be Vietnam Pro', sans-serif;
    
    /* background: red; */
    width: calc(100vw - 400px);
    margin-left: 250px;
    height: calc(100vh - 200px);
    margin-top: 20px;
}

.eco-contribution,
.leaderboard-section,
.user-search {
    width: calc(50vw - 250px);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eco-contribution h2,
.user-search h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #2e342a;
}

.eco-contribution {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #dfebbb;
    gap: 10px;
    color: #2e342a;
}

.eco-contribution fr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fr1 {
    width: 200px;
    margin-left: 30px;
}

.fr2 {
    width: 200px;
    margin-right: 30px;
}

.fr2 svg {
    fill: #7f9f56;
    margin-top: -5px;
    margin-bottom: -5px;
}

.point-convertion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 40px;
    border-radius: 40px;
    background-color: #2e342a;
    color: white;
}

.eco-contribution img {
    width: 100px;
    border-radius: 10px;
}

.leaderboard-section {
    grid-column: 1;
    grid-row: 2;
    background-color: #2e342a;
}

.leaderboard-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leaderboard-section li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #2e342a;
}

.leaderboard-section h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.leaderboard-name {
    font-weight: bold;
    color: white;
}

.leaderboard-points {
    color: #f6dc77;
}

.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
  
.input-container input {
    width: 100%;
    padding: 10px;
    padding-right: 90px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #2e342a;
}
  
.input-container button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
    color: white;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
}

.input-container button:hover {
    background-color: #38843c;
}
  
.input-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.user-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / 3;
    text-align: center;
}

.user-stats {
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: #2e342a;
    width: 50%;
}

.user-stats h3 {
    text-align: center;
    color: white;
}

.user-stats h4 {
    text-align: left;
    color: white;
}

.user-stats ul {
    color: white;
}

.eco-image {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #2e342a;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  